*.aux
*.swp
*.user*
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.gz
*.cb2
.*.lbW
Application/__pycache__/*
Application/.idea/*
Application/data.cvs
Firmware/Debug/*
Firmware/.settings/language.settings.xml


